<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1850&q=80);">
  <div class="container">
    <h1>Bookmark your favorite movies</h1>
  </div>
  <%= link_to "+ Create a new list", new_list_path, class:'btn btn-ghost' %>
</div>
